.btn {
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-padding: 10 80 10 80;
}

.btn:hover {
    -fx-background-color: rgb(240, 240, 240);
}

.container-menu {
    -fx-background-color: #e4e2f1;
    -fx-padding: 20;
}

.container-content {
    -fx-fill-width: true;
    -fx-background-color: white;
    -fx-padding: 30 40 30 40;
}

.section-header {
    -fx-font-size: 30;
    -fx-font-weight: 500;
}

.container-clubs {}

.club-card {
    -fx-background-color: #aba2f9;
}

.upcoming-section {
    -fx-padding: 20;
    -fx-font-size: 24;
}

.table-row {
    -fx-cursor: hand;
}

.table-row:hover {
    -fx-background-color: rgb(239, 239, 239);
}